<%= render partial: 'sections/header' %>
<a name="top"></a>

<div class="project">


  <div class="topping4">

    <div class="b">
      <div class="header-holder"></div>

      <div class="titling">
        <h1>PinkHipo Three</h1>
        <div class="topic">
          <ul class="topics">
            <li>Branding</li>
            <li>Packaging</li>
            <li>Illustration</li>
            <li>Systems Design</li>
            <li>Hand Lettering</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="featured">
      <%=image_tag ("artwork.jpg") %>
    </div>
  </div><!-- end topping -->


  <div class="topper">


    <div class="content header">
      <div class="left-content">
        <h2>Background</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nibh vel nisi dapibus gravida sit amet non lorem. Maecenas libero neque, tempus ut elit posuere, euismod pulvinar ipsum. Morbi vel mi consectetur, maximus ligula vitae, blandit neque.</p>
        <p>Etiam sollicitudin dignissim quam iaculis consequat. Sed non vehicula justo. Aenean quis justo massa. Ut arcu turpis, interdum nec fermentum sit amet, molestie at erat.</p>

        <h2>My Goals</h2>
        <p>Maecenas libero neque, tempus ut elit posuere, euismod pulvinar ipsum. Morbi vel mi consectetur, maximus ligula vitae, blandit neque. Etiam sollicitudin dignissim quam iaculis consequat. Sed non vehicula justo. Aenean quis justo massa. Ut arcu turpis, interdum nec fermentum sit amet, molestie at erat.</p>


      </div><!-- end left-content -->
      <div class="right-content">
        <h2>Target Audience</h2>
        <ul>
          <li>Women</li>
          <li>Ages 25-50</li>
          <li>Professional</li>
          <li>Health conscious</li>
          <li>Open to trying new things</li>
        </ul>
        <div class="thumbnail-image">
          <%=image_tag ("artwork.jpg") %>
        </div>

      </div><!-- end right-content -->

      <div class="clear"></div>

      <div class="grey-border"></div>

    </div><!-- end content header -->

    <div class="content header">
      <h2>Getting Started</h2>

      <!--<div class="typefaces"></div>&lt;!&ndash; end typefaces &ndash;&gt;-->

      <div class="colors">
        <div class="color-left">
          <h3>Primary Colors</h3>
          <div class="color-chunks">
            <div class="swatch ph-pink">#DD6F9C</div>
            <div class="swatch ph-black">#000000</div>
          </div>
        </div>

        <div class="color-right">
          <h3>Secondary Colors</h3>
          <div class="color-chunks">
            <div class="swatch ph-green">#73D371</div>
            <div class="swatch ph-orange">#FF9671</div>
            <div class="swatch ph-yellow">#F2ED9E</div>
          </div>
        </div>
      </div><!-- end colors -->

      <div class="clear"></div>


      <!--<div class="icons"></div>&lt;!&ndash; end icons &ndash;&gt;-->

      <!--<div class="illustrations"></div>&lt;!&ndash; end illustrations &ndash;&gt;-->

    </div><!-- end content header -->

    <div class="drafts">
      <div class="draft-image">
        <%=image_tag ("artwork.jpg") %>
      </div>
      <div class="draft-image">
        <%=image_tag ("artwork.jpg") %>
      </div>
      <div class="draft-image">
        <%=image_tag ("artwork.jpg") %>
      </div>

    </div><!-- end drafts -->
    <div class="clear"></div>


    <div class="content header">

      <div class="grey-border"></div>

      <h2>Branding Applied</h2>

      <div class="application">
        <div class="gal col span_6_of_12">
          <div class="h-300"><%=image_tag ("artwork.jpg") %></div>
          <div class="h-300"><%=image_tag ("artwork.jpg") %></div>

        </div>
        <div class="gal col span_3_of_12">
          <div class="h-175"><%=image_tag("artwork.jpg") %></div>
          <div class="h-425"><%=image_tag("artwork.jpg") %></div>

        </div>
        <div class="gal col span_3_of_12">
          <div class="h-425"><%=image_tag("artwork.jpg") %></div>
          <div class="h-175"><%=image_tag("artwork.jpg") %></div>

        </div>
        <div class="clear"></div>

      </div><!-- end application -->


    </div><!-- end content header -->

    <%= render partial: 'sections/footer' %>


  </div><!-- end project -->

</div><!-- end topper -->




