<a name="portfolio"></a>
<div class="portfolio">
  <div class="content header">

    <div class="header-holder"></div>

    <div class="gallery section group">
      <div class="artwork col span_6_of_12">
        <a href="/pinkhipo/">
          <div class="image-link">
            <p>Title 1</p>
          </div>
        </a>
        <%=image_tag ("artwork.jpg") %>
      </div>
      <div class="artwork col span_6_of_12">
        <a href="/pinkhipo2/">

          <div class="image-link">
            <p>Another Title !</p>
          </div>
        </a>
        <%=image_tag ("artwork.jpg") %>
      </div>
    </div><!-- end gallery -->
    <div class="gallery2 section group">
      <div class="artwork col span_6_of_12">
        <a href="#">
          <div class="image-link">
            <p>Title # 3</p>
          </div>
        </a>
        <%=image_tag ("artwork.jpg") %>
      </div>
      <div class="artwork col span_6_of_12">
        <a href="#">
          <div class="image-link">
            <p>More Words</p>
          </div>
        </a>
        <%=image_tag ("artwork.jpg") %>
      </div>
    </div><!-- end gallery2 -->
    <div class="gallery3 section group">
      <div class="artwork col span_6_of_12">
        <a href="#">
          <div class="image-link">
            <p>Even more titles</p>
          </div>
        </a>
        <%=image_tag ("artwork.jpg") %>
      </div>
      <div class="artwork col span_6_of_12">
        <a href="#">
          <div class="image-link">
            <p>Title 6.</p>
          </div>
        </a>
        <%=image_tag ("artwork.jpg") %>
      </div>
    </div><!-- end gallery3 -->
  </div><!-- end content header -->

</div><!-- end portfolio -->